node_modules
npm-debug.log
.git
.gitignore
.cache
.dist
.DS_Store
.env
vite.config.ts
tsconfig*.json
.eslintrc*
eslint.config.js
README.md
bun.lock
bun.lockb
yarn.lock
pnpm-lock.yaml
package-lock.json
